<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULATE THE DISTANCE</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
    <center>
        <main>
            <h1>HELLO, ENTER THE ADDRESS BELLOW TO CALCULATE THE DISTANCE TO MOSCOW AUTOMOBILE RING ROAD, IN RUSSIA</h1>
        
            <form action="/result" method="GET">

                <input type="text" name="address" placeholder="Type here the address "><br>
                
                <p>The distance only will be computed (in Km) if the address are located out of MKAD circunference</p>
                
                <button>Calculate the distance</button>
            
            </form>
        
        </main>
    </center>
</body>
</html>
